
AUTH_SECRET="your_auth_secret"

AUTH_URL="your_app_url"
AUTH_TRUST_HOST=true

AUTH_GOOGLE_ID=google_id
AUTH_GOOGLE_SECRET=google_secret


AUTH_GITHUB_ID=github_id
AUTH_GITHUB_SECRET=github_secret

GITHUB_PERSONAL_ACCESS_TOKEN=your_pat

GITHUB_WEBHOOK_SECRET=your_random_secret


NEXT_PUBLIC_GEMINI_API_KEY=gemini_api_key
 
NEXTAUTH_SECRET=_next_auth_secret

NEXT_PUBLIC_BASE_URL="app_url"
 
STRIPE_SECRET_KEY=stripe_secret
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=stripe_publishable_key
STRIPE_WEBHOOK_SECRET=stripe_webhook_secret
STRIPE_PRO_PRICE_ID=price_id

